* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Rubik', sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./img/nike.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #ffffff;

  &__title {
    font-size: 48px;
    letter-spacing: 4px;
    margin-bottom: 5px;
  }

  &__subtitle {
    font-weight: 300;
    margin-bottom: 30px;
  }

  &__link {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.2s;

    &:hover {
      transition: all 0.2s;
      color: #207dff;
      border: 1px solid #207dff;
    }
  }
}

.wrapper {
  padding: 20px;
  margin: 0 auto;

  @media (min-width: 420px) {
    max-width: 420px;
  }

  @media (min-width: 768px) {
    max-width: 700px;
  }

  @media (min-width: 1024px) {
    max-width: 1100px;
  }
}

.trouble {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #dfdfdf;

  &__title {
    font-weight: 300;
    margin-bottom: 20px;
  }

  &__description {
    font-weight: 300;
    max-width: 800px;
    line-height: 1.7;
  }
}

.technologies {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #dfdfdf;

  &__title {
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
  }

  &__icons {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    & img {
      margin: 25px;
    }

    &_react {
      width: 150px;
    }

    &_redux {
      width: 120px;
    }

    &_nodejs {
      width: 220px;
    }

    &_mongodb {
      width: 200px;
    }

    &_github {
      width: 220px;
    }

    &_heroku {
      width: 100px;
    }

    &_figma {
      width: 100px;
    }

    &_sass {
      width: 200px;
    }
  }
}

.creator {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #dfdfdf;

  &__title {
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      margin-right: 100px;
    }
  }

  &__image {
    border-radius: 50%;
    margin-bottom: 10px;
  }

  &__name {
    text-align: center;
    font-weight: 300;
  }

  &__quote {
    font-weight: 300;
    font-size: 24px;
  }
}

.presentation {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #dfdfdf;

  &__title {
    font-weight: 300;
    margin-bottom: 20px;
  }

  &__iframe {
    width: 100%;
  }
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;

  &__title {
    font-weight: 300;
    margin-bottom: 20px;
  }

  &__video {
    width: 100%;
    height: auto;
  }
}
